<VirtualHost *:80>
    ServerName {{ hostname }}
    ServerAlias {{ hostname }} 
    ServerAdmin webmaster@localhost
    DocumentRoot /var/www/{{ root_dir_name }}
    ErrorLog ${APACHE_LOG_DIR}/error.log
    CustomLog ${APACHE_LOG_DIR}/access.log combined

    <Directory /var/www/{{ root_dir_name }}/>
	  AllowOverride All
    </Directory>

    <IfModule mod_dir.c>
       DirectoryIndex index.php index.html index.cgi index.pl  index.xhtml index.htm
    </IfModule>

</VirtualHost>
